.input-text,
.input-textarea {
  transition: all 0.4s ease;
  outline: none;
  width: 100%;
  padding: $s-size;
  border: 1px solid $color-font;
}

.input-textarea {
  height: 200px;
}

.input-text:focus,
.input-textarea:focus {
  box-shadow: 0 0 5px $color-primary;
  border: 1px solid $color-primary;
}

.input-field {
  margin: 1.5rem 0;
}
