.events-section__content {
  display: flex;
  flex: 1 1 50%;
  font-size: $font-size-small;

  a,
  a:link {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
    display: inline-block;

    &:hover {
      transform: scale(1.01);
      color: $color-primary;
    }
  }

  h2 {
    font-size: $font-size-medium;
    font-family: $font-muli;
    color: $color-primary;
    margin-bottom: 0;
    font-weight: 200;
  }

  h3 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
  }

  @include below(600px) {
    padding: 0 4rem;
  }
}

.events-section__events {
  text-align: center;
}

.events-section__events ul {
  padding: 0 0 3rem 0;
  list-style: none;
}

.subscribe {
  padding: 3rem;
  margin: 3rem;
  border-radius: 2px;
  background-color: darken($color-white, 5%);
  box-shadow: 0 0 3rem rgba($color-black, 0.4);
}

.events-section__content > * {
  width: 50%;
}
